#MyTitle {
    border: 2px solid black;
    background-color:rgb(255, 233, 255);
    margin: 10px;
    padding: 10px;
    position: relative;
}

.set {
    border: 2px solid black;
    background-color: aquamarine;
    margin: 10px;
    padding: 10px;
    width: 20%;
    height: 20%;
    float: left;
}

#Adiv {
    float:left;
}

#Bdiv {
    float:right;
}

#Cdiv {
    display: flexbox;
}

#Ddiv {
    display: flexbox;
}

li {
    border: 2px solid black;
    width: 50%;
    height: 50%;
    background-color:rgb(255, 195, 232);
    margin: 10px;
    text-align: center;
} 

li:hover {
    background-color: yellow;
}

ul {
    list-style-type: none;
    text-align: center;
}


#MyFoot {
    border: 2px solid black;
    background-color:rgb(255, 204, 101);
    margin: 10px;
    padding: 10px;
    width: 97%;
    display:flex;
}

@media only screen and (max-width: 480px) {
    .set {
        width: 90%;
        float: left;
    }
    #Bdiv {
        float:left;
    }
    #MyFoot {
        width:90%;
    }
}

@media only screen and (max-width: 1000px) and (min-width:479px) {
    .set {
        width: 40%;
    }
    #Adiv {
        float: left;
    }
    #Bdiv {
        float: right;
    }
    #Cdiv {
        float: left;
    }
    #Ddiv {
        float: right;
    }
    #MyFoot {
        width: 94%;
    }
}
